* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}
.message {
    background-color: #eeeeee;
    margin: 1px;
    padding: 2px;
}

#message-container {
    border: solid 1px #ccc;
    background: #eed;
    height: 400px;
    overflow-y: scroll;
}

#message-box {
    /*width: 300px;*/
}

#chat-container {
    padding: 10px;
    display: none;
}

#userlist {
    /*float: right;*/
    /*width: 200px;*/
    height: 400px;
    border: solid 1px #cdc;
    background: #eed;
}

.userentry {
    background-color: #eeeeee;
    margin: 1px;
    padding: 2px;
}

#notification {
    display: none;
    color: #006;
    text-align: center;
}

#login-form {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #224;
    background-color: #cce;
    text-align: center;
}

#roomlist [selected] {
    color: #ff0000;
}

.row {
    max-width: initial;
}

#notification-message {
    color: #ddd;
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}